/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.caption {
  padding-top: 15px;
}

.feedthumbnail {
  padding-bottom: 15px;
  padding-top: 10px;
}

/*----- NAV CONTENT
------------------------------- */

.logo-img {
  height: 60px;
}

.navbar-brand {
  margin: 0;
}

.navbar {
  background-color: #008600;
}

.nav-link {
  color: #ffff01;
}

.navbar-toggler {
  background-color: #FFFF01;
  color: #008600;
}

.dropdown-menu {
  background-color: #FFFF01;
}

.dropdown-item {
  color: #008600;
}

/*----- JUMBOTRONS/CAROUSEL
------------------------------------------*/

.jumbotron {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/background.png");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron7 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/welcome_sign.jpg");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron6 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/xmasgifts.jpg");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron5 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/catbg.png");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron4 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/dogbg.png");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron3 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/grassbg.png");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

.jumbotron2 {
  height: 400px;
  background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url("../img/otheranimalsbg.png");
  background-size: cover;
  position: relative;
  padding: 50px;
  text-align: center;
}

#promo {
  color: green;
  margin-bottom: 180px;
  font-family: 'Alegreya', serif;
}

.display-3 {
  font-family: 'Alegreya', serif;
  -webkit-text-stroke: 1.0px #FFFF01;
  -webkit-text-fill-color: #008600;
  margin-top: 100px;
}

/* HIGHLIGHTS
-------------------------------------------------- */

#highlights {
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cincymag {
  padding-left: 25px;
  padding-right: 25px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  background-color: #ff7e00;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
}

.marketing h2 {
  font-weight: normal;
  padding: 5px;
  margin: 0;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  font-weight: bold;
}

.fa {
  color: #ffc22c;
}

.col-lg-4 h2 {
  color: #fafafa;
}

/* HISTORY CONTENT
-------------------------------------------------- */

.history-divider {
  margin: 50px;
}

h2.history-heading {
  padding-top: 0;
}

/* FOOTER
----------------------------------------*/

#hours {
  padding-left: 25px;
}

/* DOG PRODUCTS
----------------------------------------------*/

#dogfeed {
  padding-top: 20px;
}

.thumbnail {
  align-items: center;
}

.feedthumbnail img {
  height: 300px;
  width: 200px;
}

.thumbnail img {
  height: 300px;
  width: 300px;
}

.divider {
  margin: 3rem 0;
}

/* CAT PRODUCTS
----------------------------------------------*/

#catfeed {
  padding-top: 20px;
}

/* BIRD PRODUCTS
----------------------------------------------*/

.birdseed {
  list-style-type: none;
}

/* GRASS PRODUCTS
----------------------------------------------*/

#grasssummary {
  padding-top: 20px;
  font-size: 24px;
}

#grassseed h2 {
  color: green;
  padding-top: 15px;
}

#fertilizer h2 {
  color: green;
  padding-top: 15px;
}

/* GRASS PRODUCTS
----------------------------------------------*/

#otherfeed h2 {
  color: green;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 435px) {
  .display-3 {
    font-size: 50px;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
